[2022-05-11 15:18] Jollyolsport commented on #275
getting the same problem

[2022-05-12 16:24] otowm commented on #275
works in forge 40.1.2

[2022-05-12 16:27] RedstoneFox commented on #275
From what I've found... It's an issue with Forge. A new step thingy was added in 40.1.3, breaking Pehqui, undone in 40.1.15, and redone in 40.1.16 onwards.

[2022-05-13 19:52] itsdinkd opened #276 "[BUG] Performance Issues in 1.18.2"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

0.14.2

### Fabric API version

0.51.1

### In what environment did the problem occur?

A multiplayer server that I was connected to

### What went wrong? (Crash logs don't go here)

(Dedicated Server)

Seems that Pehkui has performance issues when there are a good amount

[2022-05-14 05:51] Attyelep commented on #275
Switching to 40.1.2 Seems to fix it, Don't Know About 40.1.15

[2022-05-14 23:57] mcwoodcraft commented on #275
40.1.15 works

[2022-05-15 02:33] Rikurob commented on #273
I'm having the same issue and I just made a mod that uses Pehkui as dependency. it works with my mod, but not in a modpack with other mods if the forge version isn't correct. I think it may be a Pehkui related issue with the pack format possibly.

[2022-05-15 02:34] Rikurob commented on #273
When I opened it with winrar, the pack format is 6 when it should be 9

[2022-05-15 02:36] Rikurob commented on #273
Naw it didn't work when I changed it. i don't know whats wrong, I think it won't work above forge 40.1.10.

[2022-05-15 02:38] Rikurob commented on #273
Did some testing and that is the issue.

[2022-05-15 02:39] Rikurob commented on #273
Actually nvm idek

[2022-05-15 05:58] copygirl commented on #275
I would have to remove Tinkers' Construct for the time being because it depends on Forge 40.1.19, and no other 1.18.2 version exists. Also another mod needed to be downgraded. You can check this by setting the Forge version to 40.1.15, starting up the game, and looking at which mods say they need newer Forge versions. I then went through the changelogs of the mods to see which version I needed to

[2022-05-15 21:13] ghost opened #277 "pehkui:jump_height not working in 1.18.2"
After setting `pehkui:base` to `.5`, I tried to also set `pehkui:jump_height` to where I could jump up one full block, however it seems that nothing I do actually changes my jump height. As an example, if I use
[code]
Then this is added to the nbt:
[code]
however my jump height is not actually increased at all.

This does not happen if I set my size scale to `.5` using both `pehkui:height` and `pe

[2022-05-16 02:36] DynamicMountain opened #278 "[Bug]: Step Height error in 40.1.16 and up"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

40.1.20

### Fabric API version

_No response_

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

Booting up basic modpack on forge version 40.1.20. Attempted on 16 through 20, all of which gave the same

[2022-05-16 08:15] Virtuoel commented on #270
Resolved in Pehkui 3.3.1.

[2022-05-16 08:15] #270 closed, assigned to Virtuoel

[2022-05-16 08:15] Virtuoel commented on #273
Resolved in Pehkui 3.3.1.

[2022-05-16 08:15] #273 closed, assigned to Virtuoel

[2022-05-16 08:16] Virtuoel commented on #274
Should now be resolved in Pehkui 3.3.1.

[2022-05-16 08:16] #274 closed, assigned to Virtuoel

[2022-05-16 08:17] Virtuoel commented on #275
Should now be resolved in Pehkui 3.3.1.

[2022-05-16 08:17] #275 closed, assigned to Virtuoel

[2022-05-16 08:17] Virtuoel commented on #278
Resolved in Pehkui 3.3.1.

[2022-05-16 08:17] #278 closed, assigned to Virtuoel

[2022-05-19 19:54] alvv-z opened #279 "[Bug]: Item Frame labels not rendering correctly"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

Fabric Loader 0.14.3

### Fabric API version

Fabric API 0.51.1

### In what environment did the problem occur?

Other (specify in "What went wrong?" section)

### What went wrong? (Crash logs don't go here)

The labels of Item Frames render “behind” other blocks (greyed

[2022-05-21 23:01] TwiningShiningDawn opened #280 "[Bug]: Untitled bug report"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

Fabric 0.10.2

### Fabric API version

fabric-api-0.51.1+1.18.2

### In what environment did the problem occur?

Other (specify in "What went wrong?" section)

### What went wrong? (Crash logs don't go here)

whenever i attempt to launch the game, it goes to the fabric cr

[2022-05-22 00:20] Yahiamice opened #281 "[Bug]: Pekhui 1.18.1 works fine, but 1.18.2 crashes before startup"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge - 40.1.22

### Fabric API version

_No response_

### In what environment did the problem occur?

Other (specify in "What went wrong?" section)

### What went wrong? (Crash logs don't go here)

Ran pehkui alongside a bunch of other mods in 1.18.1, worked perfectly fi

[2022-05-23 00:48] omnieve commented on #281
A friend of mine is also having this problem. We've checked the other mods, and its specifically Pehkui-3.3.1+1.18.2-forge.jar that simply doesn't work. I have not been able to replicate this issue (it works normally for me) but for some reason it will not let him boot up minecraft.

[2022-05-23 22:10] LoganK1109 commented on #281
Same exact problem, it works fine on Forge 40.1.0 but later versions cause a crash

[2022-05-24 00:57] Baggytrousers27 commented on #281
Seems Forge 40.1.21 changed the attack distance attribute.

10:53:15.487
game
Caused by: java.lang.reflect.InvocationTargetException
10:53:15.488
game
Caused by: org.spongepowered.asm.mixin.transformer.throwables.MixinTransformerError: An unexpected critical error was encountered
10:53:15.488
game
Caused by: org.spongepowered.asm.mixin.injection.throwables.InjectionError: Critical injection failur

[2022-05-24 20:03] EndEmpire commented on #281
I teseted Pehkui-3.3.1+1.18.2-forge by itself with forge 40.1.25 and 40.1.24 using MultiMC and got similar results.

at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: org.spongepowered.asm.mixin.injection.throwables.InjectionError: Critical injection failure: Constant modifier method attackModifyDistance(D)D in pehkui.mixins.json:reach.PlayerEntityMixin failed injection check, (0/1) su

[2022-05-25 11:54] Darkosto opened #282 "[Bug/Question]: Increasing Player Stats Allows End Crystal Explosions to Kill Dragon in 1 Hit"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

40.1.20

### Fabric API version

_No response_

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

Hello!

When scaling up attack as follows:
[code]

I've noticed that breaking End Crystals will explode a

[2022-05-25 15:26] DMNerd commented on #281
I also experience this issue

[2022-05-27 18:13] GeminiMarshdevil commented on #281
ditto. same as above. mod is not usable atm.

[2022-05-28 12:51] #19 closed, assigned to nobody

[2022-05-28 12:51] #260 closed, assigned to nobody

[2022-05-28 12:51] #279 closed, assigned to Virtuoel

[2022-05-28 12:51] #282 closed, assigned to Virtuoel

[2022-05-28 12:51] Virtuoel commented on #280
Looks like Purpur Client's overwriting some passenger methods in a not as compatible manner. Seems this has already been reported over at https://github.com/PurpurMC/PurpurClient/issues/17, so I'll be closing this in favor of their issue.

[2022-05-28 12:51] #280 closed, assigned to Virtuoel

[2022-05-28 12:51] Virtuoel commented on #268
Appears to have been fixed on DragonSurvival's end.

[2022-05-28 12:51] #268 closed, assigned to Virtuoel

[2022-05-28 13:01] Virtuoel commented on #281
Should now be resolved in Pehkui 3.3.2.

[2022-05-28 14:37] Yahiamice commented on #281
Doesn't seem like that did fix it (using pehkui 3.3.2, forge version 40.1.22 )

![{7C41118F-F995-46B1-8AC6-26EA4EE9C25A}](https://user-images.githubusercontent.com/49078928/170830056-c298742a-b0c3-438a-9e1b-32874de3d56f.png)

[2022-05-28 15:03] Yahiamice commented on #281
NEVERMIND, seems like it conflicted with some mod/config i had, i did a fresh reinstall and it booted up with no issues. Feel free to close again

[2022-05-28 15:03] #281 closed, assigned to Virtuoel

[2022-05-30 20:00] ItzPear opened #283 "[Bug]: Hybrid server Crash"
### Minecraft version(s)

1.16.5

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge 36.2.26

### Fabric API version

_No response_

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

Upon starting the server with a Hybrid server such as Arclight, Pehkui causes th

[2022-06-05 12:47] freerig opened #284 "[Bug]: Reach don't work in 1.18.2"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

40.1.19

### Fabric API version

_No response_

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

The pehkui:reach setting does not work, even when changing the pehkui:base setting. On

[2022-06-05 12:54] Virtuoel commented on #284
Can you first make sure Pehkui is at version 3.3.2 or newer, and then try updating Forge to 40.1.31 or newer?

[2022-06-05 20:23] freerig commented on #284
Ok, thank, that work on forge 40.1.45 !

[2022-06-05 20:23] #284 closed, assigned to Virtuoel

[2022-06-05 20:36] freerig commented on #284
And thank you for your quick reaction 👍 !!!

[2022-06-08 14:31] Thspooks opened #285 "[Bug]: Height and Width doesnt saves after death"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

1.18.2-forge-40.1.25

### Fabric API version

_No response_

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

After death size of an origin im using doesnt saves, it resets me to the

[2022-06-09 19:15] LuigiTP opened #286 "[Bug]: Scaling not working"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge 40.1.47

### Fabric API version

_No response_

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

weve used Pehkui with origins before in 1.16 and it scaled properly when we thre

[2022-06-09 19:55] LuigiTP commented on #286
Bucolic origins modder informed me it dosent work like that in their mod so not pehkui issue

[2022-06-09 19:55] #286 closed, assigned to Virtuoel

[2022-06-11 06:39] Helioux opened #287 "Shrunk players dont benefit from step assist."
### What is your suggestion?

there are various step ups in the mod community, namely the sashes in Botania and my 1m tall origin doenst step up half blocks with that method, im not sure if this is intended or not?

[2022-06-13 18:39] Portergoth opened #288 "Size Retention Issues (I wanna stay smol)"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge 40.1.51

### Fabric API version

_No response_

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

I have Origin installed that use Pehkui to set my size to a smaller one upon selecting a certain or

[2022-06-17 11:01] Mazereck opened #289 "[Bug]: Bitdefender Antirvirus False-flags v3.2.0+ as trojan"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge 40.1.48

### Fabric API version

_No response_

### In what environment did the problem occur?

Other (specify in "What went wrong?" section)

### What went wrong? (Crash logs don't go here)

Cant install the mod from Curseforge without letting the file through. Most

[2022-06-17 11:04] Mazereck commented on #289
If it comes up as a question, Bitdefender flags it as "Java.Trojan.GenericGBA.31501".

[2022-06-20 04:04] Jaderey opened #290 "[Bug]: BudschieMorphMod Camera Issue"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge 40.1.41

### Fabric API version

N/A

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

Bmorph lets the player morph into most mobs this works as expected but the camera does not follow the expecte

[2022-06-20 10:51] Mazereck opened #291 "Pehkui causes agricraft seed analyzer to crash client"
### Minecraft version(s)

1.18.2

### Mod loader

Forge

### Mod loader version

Forge 40.1.48

### In what environment did the problem occur?

Both singleplayer and multiplayer

### What went wrong? (Crash logs don't go here)

Attempting to use the AgriCraft seed analyzer results in the game crashing.
Reported to AgriCraft dev but they directed me to report it here instead.

### Full list of inst

[2022-06-25 06:20] qouteall opened #292 "[Bug]: Server crash because lagging in AI code. Recommend changing the default scale limit."
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

0.13.3

### Fabric API version

0.53.4

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

The server crashes when the player goes to some region. I don't really know what thing exist

[2022-06-27 01:44] Virtuoel commented on #291
After[ ](https://github.com/AgriCraft/AgriCraft/issues/1463)some testing, turns out this is caused by [InfinityLib](https://github.com/InfinityRaider/InfinityLib)'s dynamic camera, specifically the way it's [instantiated](https://github.com/InfinityRaider/InfinityLib/blob/3451458b0c6416d99a45abdea8a1c73914195553/src/main/java/com/infinityraider/infinitylib/modules/dynamiccamera/DynamicCamera.java#

[2022-06-27 01:48] Virtuoel commented on #289
Should now be resolved in 3.3.3 releases.

[2022-06-27 01:48] #289 closed, assigned to Virtuoel

[2022-06-27 17:49] JadeJuno commented on #285
Works as intended. The scale changes won't persist unless you make them persist via `/scale persist`.

[2022-06-27 20:03] Thspooks commented on #285
Not really. I didnt had to use that command time ago, it was saving size by its own without need to use that command. But to be honest ive seen forge has some net issues so it could be it. Not sure.

[2022-06-27 20:16] Virtuoel commented on #285
If a size change is provided by an origin, it's up to that origin's code to make sure that your size is set back to the correct value after you die. Report to whoever made the origin.

[2022-06-27 20:16] #285 closed, assigned to Virtuoel

[2022-06-29 23:42] TonyTorzido opened #293 "Crafting table bug"
I am using Valhelsia Vanilla Expanded 1.18.2 with origins mod. Everything was going well until I installed this mod for fabric 1.18.2 along with origins++ 1.18.2. I installed different version of Pehkui and the crafting table issue continued until I uninstalled.

I can still click the box and get the items, but I can't see them. Any tips?

![image](https://user-images.githubusercontent.com/7472611

[2022-06-30 00:11] Virtuoel commented on #293
Pehkui does not change anything to do with crafting, so I don't know what would be causing this.

Does this still happen with Pehkui _and_ without Origins++?
If this only happens when _both_ Pehkui and Origins++ are present, report to [Origins++](https://github.com/QuantumXenon/origins-plus-plus/issues) instead.

[2022-07-01 23:01] Virtuoel commented on #293
Looking at your issue on Origins++, this was caused by fastbench. Glad you figured it out.

[2022-07-01 23:01] #293 closed, assigned to nobody

[2022-07-01 23:23] qua6ky opened #294 "[Bug]: the /scale command doesnt work using command blocks"
### Minecraft version(s)

1.19.1

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

1.19

### Fabric API version

_No response_

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

I put the command /scale set 0.3 @a and it doesnt scale new players

### Full list of ins

[2022-07-02 21:37] powerpellet1077 opened #295 "[Bug]: shrinking past 0.0001 glitches rendering"
### Minecraft version(s)

Other (specify below)

### Minecraft version details

1.19

### Mod loader

Fabric

### Mod loader version

Fabric Loader 0.14.8

### Fabric API version

0.56.0

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

When I used /scale set 0.0001 my rendering looked weird. it was making th

[2022-07-06 02:31] squendan998 opened #296 "where can i find download for 1.18.1 fabric"
### What is your suggestion?

_No response_

[2022-07-06 02:37] squendan998 commented on #296
why did you remove it bring it back please please please please right now you have too so do it now please you need to do it i am going to die if you dont do help me fix it bring it back please please please please please please

[2022-07-06 14:59] Vitalcord opened #297 "[Bug]: Hybrid Server crashes with Pekuhi in the mods folder"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge 40.1.54

### Fabric API version

_No response_

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

Observed:
MagmaFoundation 1.18.2 server crashes when ran while Pekuhi is in the

[2022-07-07 16:39] wxjk-1 opened #298 "Un able to join your world"
### Minecraft version(s)

Other (specify below)

### Minecraft version details

Playing in 1.19

### Mod loader

Fabric

### Mod loader version

Fabric 0.14.8

### Fabric API version

Fabric API 0.57.0

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

If you scale is too big it crashes your game and when you try to join again i

[2022-07-07 23:58] Virtuoel commented on #296
1.18.1 is no longer supported for getting fixes as of Pehkui 3.3.3 and newer. Pehkui 3.3.2 is known to work with 1.18.1. The latest Pehkui version is not guaranteed to work on 1.18.1, but most likely it will still work.

It is however recommended to update to 1.18.2 instead of staying on 1.18.1.

[2022-07-07 23:58] #296 closed, assigned to Virtuoel

[2022-07-07 23:58] Virtuoel commented on #298
Looks like the crash comes from somewhere in Immersive Portals. I'd recommend reporting to them instead.

[2022-07-08 00:10] Virtuoel commented on #294
When you say "new players", it makes it sound like you're expecting future players to be rescaled too. `@a` can only target players who are logged in. For scaling new players as well, I'd recommend using the command in a repeating command block, maybe with a filter too.

If that is not what you mean, please give more info about the problem and I'll reopen the issue if the problem is something that

[2022-07-08 00:10] #294 closed, assigned to Virtuoel

[2022-07-08 22:41] JustRed23 commented on #297
[This should be fixed on Magma.](https://git.magmafoundation.org/magmafoundation/Magma-1-18-x/-/merge_requests/27) I have to wait until the merge request gets accepted though.

[2022-07-08 22:42] JustRed23 commented on #283
[I fixed this on Magma 1.18.2.](https://git.magmafoundation.org/magmafoundation/Magma-1-18-x/-/merge_requests/27)

[2022-07-12 17:31] wxjk-1 commented on #298
it is in immersive portals

[2022-07-12 17:31] #298 closed, assigned to Virtuoel

[2022-07-12 18:55] Virtuoel commented on #297
Closing as above merge was accepted.

[2022-07-12 18:55] #297 closed, assigned to Virtuoel

[2022-07-12 18:55] Virtuoel commented on #283
Closing now that this is fixed on Magma.

[2022-07-12 18:55] #283 closed, assigned to Virtuoel

[2022-07-12 19:00] Virtuoel commented on #292
I'm unable to reproduce this with just Pehkui.
Is this still an issue with the latest Immersive Portals?

[2022-07-13 00:56] qouteall commented on #292
Although I don't know exact what thing caused the crash, it may be two giant parrots. I am going to test whether it crashes with big parrots.

[2022-07-14 20:33] Bullseye55 opened #299 "1.19 Pose Stack Not Empty Exception"
### Minecraft version(s)

1.19.1

### Minecraft version details

N/A

### Mod loader

Fabric

### Mod loader version

14.8

### Fabric API version

0.57.0

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

A random crash in Creative while flying around. Human origin, no class chosen, nothing special from its end. Upon reloading

[2022-07-20 00:49] SinzicMC opened #301 "[Bug]: Pehkui Fails When Opening Minecraft"
### Minecraft version(s)

Other (specify below)

### Minecraft version details

1.19

### Mod loader

Fabric

### Mod loader version

1.19

### Fabric API version

1.19

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

I downloaded Pehkui for other mods that I was planning to use for my Apex Hosting server, b

[2022-07-20 05:39] flemilwolf commented on #283
@Virtuoel  i understand, but it still doesn't work in arclight, this hybrid server api is a little different from mohist and magma servers, could you review, or let us know what it is so we can take the arlight dev to Izzel

[2022-07-20 16:48] NIGHT214 opened #302 "[Bug]: Received ID map for minecraft:command _argument_type contains IDs unknown to the recriver! those are -pehkui:scale_type, pehkui:scale_operation and pehkui:scale_modifier"
### Minecraft version(s)

1.19.1

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

Fabric 1.19

### Fabric API version

1.19

### In what environment did the problem occur?

A multiplayer server that I was connected to

### What went wrong? (Crash logs don't go here)

Received ID map for minecraft:command _argument_type contains IDs unknown to the recri

[2022-07-20 17:42] NIGHT214 commented on #301
how did u solve it?
And give me ur discord I'll add u and let's talk?

[2022-07-26 23:02] fzzyhmstrs opened #303 "[Bug]: Pose Stack Not Empty Crash"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

0.14.8

### Fabric API version

0.58.0

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

Game crashes when I am holding the _Glistering Trident_ item from [My Mod](https://github.com/fzzyhmstrs/ai) and

[2022-07-26 23:42] Virtuoel commented on #303
Looks like you're having your trident rendered by mixing into `BuiltinModelItemRenderer` with your `GlisteringTridentModelMixin`.
Instead of that, you should be using `BuiltinItemRendererRegistry.INSTANCE.register` to register your renderer.

[2022-07-27 00:45] fzzyhmstrs commented on #303
My current versions do use the Registry. As you can see, that mixin is no longer in my source. Perhaps you found it in the remapped source?

![image](https://user-images.githubusercontent.com/72876796/181136122-2ea65f7e-d030-4934-a12e-86a74e0b5796.png)

I register it with Amethyst Core [HERE](https://github.com/fzzyhmstrs/ai/blob/master/src/main/kotlin/me/fzzyhmstrs/amethyst_imbuement/registry/Reg

[2022-07-27 00:57] Virtuoel commented on #303
Ah, good catch, it was the one in remappedSrc. I'd recommend gitignore-ing that folder.
I'll investigate further tomorrow.

[2022-07-30 12:11] mariohany534 opened #304 "pehkui and immersive portals not combined"
i cant play immersive portals with pehkui mod and im using forge for both

[2022-07-31 21:56] Tempest-5ky opened #305 "[Bug]: Severe mod incompat with VeryManyPlayers"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

Fabric Loader 0.14.8

### Fabric API version

0.58.0

### In what environment did the problem occur?

A multiplayer server that I was connected to

### What went wrong? (Crash logs don't go here)

As of its v0.2.0+beta.3.73 1.18.2 release, VMP (https://modrinth.com/mod/vm

[2022-07-31 22:03] Virtuoel commented on #305
Does this still occur when using VMP 0.2.0+beta.3.76+1.18.2? Seems they recently fixed an issue to do with syncing entity data.

[2022-07-31 22:06] Tempest-5ky commented on #305
Yes, it still occurs! That was the version I was using when I first noticed the issue in question.

[2022-07-31 22:34] Virtuoel commented on #305
I think I might have figured out a simple fix for this on my end, thanks for the report. If the issue still occurs with the next Pehkui release, let me know on this issue and I'll reopen it.

[2022-07-31 22:59] Virtuoel commented on #304
Duplicate of https://github.com/qouteall/ImmersivePortalsModForForge/issues/243

[2022-07-31 22:59] #304 closed, assigned to nobody

[2022-07-31 23:00] Tempest-5ky commented on #305
Thank you! I'll keep an eye out for that!

[2022-07-31 23:00] #305 closed, assigned to Virtuoel

[2022-07-31 23:09] Virtuoel commented on #302
You have a mismatched or outdated version of Pehkui installed on your client. Make sure the Pehkui version you have on your client matches the Pehkui version used by the server you're connecting to.

[2022-07-31 23:09] #302 closed, assigned to Virtuoel

[2022-07-31 23:09] Virtuoel commented on #301
You have a mismatched or outdated version of Pehkui installed on your client. Make sure the Pehkui version you have on your client matches the Pehkui version used by the server you're connecting to.

[2022-07-31 23:09] #301 closed, assigned to Virtuoel

[2022-08-01 08:43] ChromexUnderscore opened #306 "[Bug]: Logging out with a motion scale of 0 corrupts playerdata"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

0.14.8

### Fabric API version

0.58.0+1.18.2

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

Set Motion scale to 0.
Log out of Multiplayer game.
Log back in.

Expected: Logged int

[2022-08-04 13:06] Dragonfly-Totem commented on #303
I _suspect_ that this has the same root cause as identified above, but I would like to add that this issue also occurs when placing a Glistering Trident into an Item Frame.  Testing indicated this specific incompatibility existing between Amethyst Imbuement v06 (the source of the Glistering Trident) and Pekhui v3.3.3

[2022-08-06 19:21] ImSpaceLover opened #307 "[Suggestion]: Mirror entities"
### What is your suggestion?

Add a way to "mirror" entities. When an entity is mirrored, its model would be mirrored along X axis, making it look like you're watching at it through a mirror, and when a player is mirrored, their model, left and right movements and rotations and a camera view would be inverted, making it so they would see as if the whole world would be mirrored.

Negative value sca

[2022-08-07 08:03] Ax0l0tlz opened #308 "Pehkui Breaks when I use a command block on a server."
### Minecraft version(s)

1.18.2, 1.19.1

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

14.9

### Fabric API version

0.57.0

### In what environment did the problem occur?

A multiplayer server that I was connected to

### What went wrong? (Crash logs don't go here)

I could set my scale as normal but when I tried to make it permanent with a repeati

[2022-08-07 21:29] #291 closed, assigned to Virtuoel

[2022-08-07 22:10] Virtuoel commented on #303
After some testing, the issue is most likely caused by the inject cancellation [here](https://github.com/fzzyhmstrs/ac/blob/1.18.2/src/main/java/me/fzzyhmstrs/amethyst_core/mixins/ItemRendererMixin.java#L44) in AmethystCore.
Looking at some other mods that do similar custom models by injecting into `ItemRenderer`, seems they typically do `matrices.scale(0, 0, 0);` instead of cancelling.

I've also

[2022-08-07 22:10] #303 closed, assigned to Virtuoel

[2022-08-07 22:52] Virtuoel commented on #299
With the Pehkui 3.4.0 release, there should now be an error logged to the console if a rendering issue like this occurs with weird item rendering (I might look into making an error message for odd entity rendering issues later too).
Note that the message will be in the regular logs, not the crash log.

If this is in fact caused by item rendering, the message you'll want to look for will be in the

[2022-08-07 23:05] Virtuoel commented on #305
Worth testing this again now that Pehkui 3.4.0 is released. Let me know if it seems to be fixed or if it still occurs.

[2022-08-08 18:08] Camawama opened #309 "[Bug]: MOBS ARE INVISIBLE ON LATEST UPDATE"
### Minecraft version(s)

1.18.2

### Minecraft version details

Minecraft 1.18.2 Normal

### Mod loader

Forge

### Mod loader version

40.1.69-40.1.73

### Fabric API version

_No response_

### In what environment did the problem occur?

Other (specify in "What went wrong?" section)

### What went wrong? (Crash logs don't go here)

All **scaled** entities are invisible after updating to the lat

[2022-08-08 22:39] Tempest-5ky commented on #305
hello! Apologies for the late response, i'll be testing this today

[2022-08-08 23:16] Tempest-5ky commented on #305
This has fixed the issue, thank you!!

[2022-08-09 22:20] KuwuroUsagi commented on #309
I hope this has something to do with my scaled origins causing me to be invisible to others, and to myself in third person, and also I hope this is fixed soon! 😝

[2022-08-11 01:19] juva-duva opened #310 "Pehkui not working w/ Origins & origins++ after 1.19.2"
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

11.9

### Fabric API version

Fabric API 0.59.0

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

I've used the Origins mod along with origins++ and pehkui for a while now. After 1.19.1 & 1.19.2, I dec

[2022-08-11 01:42] Virtuoel commented on #310
Not a Pehkui issue. Apoli doesn't appear to be updated for 1.19.1+ yet. Will be fixed on their end once https://github.com/apace100/apoli/pull/61 gets merged and Origins gets updated to include the new Apoli.

[2022-08-11 01:42] #310 closed, assigned to Virtuoel

[2022-08-11 01:43] juva-duva commented on #310
thank you

[2022-08-11 06:07] iDashon opened #311 "Game keeps on crashing"
### Minecraft version(s)

1.16.5, 1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

40.1.20

### Fabric API version

_No response_

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

It would load like normal but would get stuck on "saving world" and crash. I tried using a differ

[2022-08-11 08:28] AmberIsFrozen opened #312 "Mod incompatibilities with Minecraft Transit Railway"
### Minecraft version(s)

1.16.5, 1.17.1, 1.18.2, 1.19, 1.19.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

0.14.9

### Fabric API version

0.46.1

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

The [Minecraft Transit Railway](https://github.com/jonafanho/Minecraft-Transit-Rai

[2022-08-11 16:33] Virtuoel commented on #311
Looking at this crash log, I see you're playing on Minecraft 1.18.2, but you seem to have used the version of Pehkui made for Minecraft 1.16.5. You'll need to use the 1.18.2 version of Pehkui instead.

[2022-08-11 16:33] #311 closed, assigned to Virtuoel

[2022-08-13 20:00] Gavin456b commented on #309
The same is happening to me. I also have rubidium

[2022-08-14 23:48] qouteall opened #313 "[Bug]: The latest version of Pehkui makes width scale and eye height scale zero right after teleporting through an ImmPtl portal. `getScale` returns a nearly 0 when tickDelta is not 1"
### Minecraft version(s)

Other (specify below)

### Minecraft version details

1.16.x, 1.17.x, 1.18.x, 1.19.x

### Mod loader

Fabric

### Mod loader version

not important

### Fabric API version

not important

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

The symptom is described here https://github.com/iPortalTeam/Immer

[2022-08-14 23:50] qouteall commented on #313
This should be fixed on pehkui side. I don't want to update immptl's 1.16, 1.17, 1.18 and 1.19 version just to workaround a Pehkui bug.
Pehkui 3.3.3 does not have this issue. To fix this issue you can simply revert to 3.3.3

[2022-08-15 00:00] Virtuoel commented on #313
Thanks for the report. Strange that the scale is returning that small of a number. That really shouldn't happen. Sounds very much like the issue is on Pehkui's end.

[2022-08-17 15:32] bassistracer opened #314 "[Suggestion]: Bridge between Better Combat and Pehkui"
### What is your suggestion?

Hey, big fan of Pehkui! I was hoping I could reach out and maybe have some help bridging it between that and a new Fabric mod on the block called [Better Combat.](https://www.curseforge.com/minecraft/mc-mods/better-combat-by-daedelus)

Essentially, the mod maker of Better Combat wants to add Pehkui support -- but DOESN'T want to add a gradle dependency on it. He hasn'

[2022-08-17 15:41] Virtuoel commented on #314
As they mentioned using attributes, instead of using Pehkui directly it would probably be better if they were to make use of [Reach-Entity-Attributes](https://github.com/JamiesWhiteShirt/reach-entity-attributes/), which Pehkui has compat code for to adjust the attribute values based on one's scale. Would also improve compat with other mods that use and affect attack and block reach.

[2022-08-19 18:13] 1MiniGinger opened #315 "[Bug]: Player Size Not Changing on Server"
### Minecraft version(s)

1.19

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

Fabric Loader 0.14.7 and 0.14.9

### Fabric API version

Fabric API 0.58.0

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

Running Bucolic Origins (and others) on a multiplayer serve

[2022-08-20 12:23] Adrigamer2950 opened #316 "[Bug]: Pehkui with ArcLight"
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

42.0.0

### Fabric API version

_No response_

### In what environment did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

When I open my server with Arclight, Pehkui doesn't run and crashes my server.

### Ful

[2022-08-21 19:33] ChromexUnderscore opened #317 "[Bug]: Visual Render bugs"
### Minecraft version(s)

1.19

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

0.14.9

### Fabric API version

0.58.0+1.19

### In what environment did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

3rd Person view completely black, no view bobbing, post processing shaders appear as deep black. (aka super s

[2022-08-21 20:45] #313 closed, assigned to Virtuoel

[2022-08-21 20:45] #316 closed, assigned to Virtuoel

[2022-08-22 10:34] #157 closed, assigned to nobody

[2022-08-22 20:59] Adrigamer2950 commented on #316
why do you close it?

[2022-08-22 21:00] Adrigamer2950 commented on #316
._.

[2022-08-22 21:08] Virtuoel commented on #316
Because Pehkui 3.4.1 was released, which should fix this specific crash. If it still crashes with 3.4.1, please post a new crash log and I'll reopen this issue.

[2022-08-23 01:01] jcianca opened #318 "[Bug]: Can't launch minecraft"
Does this mean it is no longer compatible with 1.19 and I need to upgrade to 1.19.2?

Incompatible mod set!
net.fabricmc.loader.impl.FormattedException: Mod resolution encountered an incompatible mod set!
A potential solution has been determined:
	 - Replace mod 'Fabric Loader' (fabricloader) 0.14.8 with version 0.14.9 or later.
Unmet dependency listing:
	 - Mod 'Pehkui' (pehkui) 3.4.1+1.14.4-1.19

[2022-08-23 05:30] 1MiniGinger commented on #315
Updated server with latest Pehkui update and updated loader to 0.14.9. Problem persists. Player size remains static in multiplayer world but is affected in singleplayer world.

[2022-08-24 14:34] Adrigamer2950 commented on #316
still same error
![image](https://user-images.githubusercontent.com/58531641/186446030-9609aaf0-e34a-412f-8e7e-2714db5e4e4d.png)

[2022-08-24 14:48] Adrigamer2950 opened #319 "[Bug]: Crash with ArcLight"
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

42.0.0

### Fabric API version

_No response_

### In what kind of world or server did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

Running ArcLight with Pehkui crashes the server

### Full list of installed

[2022-08-24 15:56] GodMorduk commented on #319
Exactly same issue appears on 1.16.5, would be nice if both versions can be fixed. Log seems same, will post if nessesary.

[2022-08-25 01:12] RodriGC2009 opened #320 "[Bug]: Origins requires 3.2.0 or above"
### Minecraft version(s)

1.19.2

### Minecraft version details

1.19.2

### Mod loader

Forge

### Mod loader version

Forge: 1.19.2 - 43.1.2

### Fabric API version

_No response_

### In what kind of world or server did the problem occur?

Other (specify in "What went wrong?" section)

### What went wrong? (Crash logs don't go here)

I install this mod because I was going to play with the origi

[2022-08-28 06:24] Inve1951 commented on #318
you just gotta update fabric

[2022-08-28 16:08] Virtuoel commented on #318
As mentioned above, you need to update Fabric. Specifically Fabric Loader, which is done by rerunning the Fabric Installer.

[2022-08-28 16:08] #318 closed, assigned to nobody

[2022-08-28 16:08] Virtuoel commented on #314
Resolved on Better Combat's end.

[2022-08-28 16:08] #314 closed, assigned to Virtuoel

[2022-08-28 16:08] Virtuoel commented on #320
You've installed the Fabric version of Pehkui, but you're running Forge. It should work once you remove the Fabric version and install the Forge version instead.

[2022-08-28 16:08] #320 closed, assigned to Virtuoel

[2022-09-01 02:36] #319 closed, assigned to Virtuoel

[2022-09-01 02:47] Virtuoel commented on #308
Unable to reproduce. Closest thing I could get was having a repeating command block setting a scale which prevented changing that scale until the command block is disabled.

If you want to prevent a scale from resetting after death, it's better to use `/scale persist set <type> true` instead of constantly setting the scale.

If persisting after death is not enough and you still have the problem, p

[2022-09-01 02:47] #308 closed, assigned to Virtuoel

[2022-09-01 02:47] Virtuoel commented on #315
Unable to reproduce. Closest thing I could get to that kind of problem is when Pehkui is not present on the server. If you do have the Fabric version of Pehkui on both the server and client, and still run into the problem, post another comment here with the server's and clients' mod lists (with the mods' version numbers) and I'll open this issue again.

[2022-09-02 16:53] 1MiniGinger commented on #315
Pehkui is definitely installed both server and client side, and it is the Fabric version of Pehkui.

Server mods were listed above but I will list them here again because a couple have been updated since then:
bucolicorigins-3.5
fabric-api-0.58.0+1.19
fabric-permissions-api-v0.2
journeymap-1.19-5.8.5-fabric
lithium-fabric-mc1.19-0.8.1
origins-1.19-1.6.2
Pehkui-3.4.1+1.14.4-1.19.2
phosphor-fabric-m

[2022-09-09 13:44] LunafeyLazuli opened #321 "[Bug]: Scaled players rubber banding with Performant"
### Minecraft version(s)

1.16.5

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge 36.2.39

### Fabric API version

_No response_

### In what kind of world or server did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

When you have Performant installed with Pehkui, a lot of rubber band

[2022-09-09 15:06] Virtuoel commented on #321
Not really fixable on Pehkui's end. Performant does quite a few changes to entity movement last I checked.
Duplicate of https://github.com/someaddons/performant_issues/issues/255

[2022-09-09 15:06] #321 closed, assigned to Virtuoel

[2022-09-09 18:55] LunafeyLazuli commented on #321
Yeah, we tried to see which end it was on since we haven't gotten a response from Performant yet, so figured I'd try it here too XD

[2022-09-11 18:15] Illios42 opened #322 "[Bug]: Client-side crash when using goat horns on dedicated server"
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge 43.1.1

### Fabric API version

_No response_

### In what kind of world or server did the problem occur?

A multiplayer server that I was connected to

### What went wrong? (Crash logs don't go here)

After using goat horns a couple times, it client-side crashes me

[2022-09-11 18:47] Virtuoel commented on #322
Bug with Forge itself on 43.1.1. Update Forge to a newer version.

[2022-09-11 18:47] #322 closed, assigned to Virtuoel

[2022-09-17 15:22] Sacri-Pan opened #323 "[Suggestion]: Is there a way to modify the default size of a mob in a config file or something?"
### What is your suggestion?

I want to make spiders and bees smaller for exemple, and this size be set for every world I create

[2022-09-20 03:31] Minenash opened #324 "Help Understanding how to do modifers code-wise"
As a part of the mod I'm currently working on, the player can scale themselves by -25% to 25%. As I want to support origins, I can't just set the scale, as that would override their scale. Looking through the code, I found `ScaleModifier`s, but I can't for the life of me get it to work.

This is what I have for the modifier itself:
[code]
And this is what I'm trying to do to add it:
[code]
Accordi

[2022-09-25 06:48] 1MiniGinger commented on #315
Server has been updated to 1.19.2; problem persists. Will provide a new list of mods with their version numbers when it is no longer 3 AM.

[2022-10-02 03:00] Coolkc456 commented on #323
I would like this, too. Maybe make a config file or command where entity types can be assigned with a scale type and value and then all entities of those types that spawn will inherit the settings.

[2022-10-02 16:16] SylisMC opened #326 "[Suggestion]: Re-implement method to replace old nbt data format"
### What is your suggestion?

Id like to see you re implement calling for specific data strings via the new scale nbt command

Back in 1.18 you stored your scale data under the regular player nbt data, so you could execute a store command to store scale in a scoreboard,
`execute as @a store result score @s Scale run `

1.18
`data get entity @s "pehkui:scale_data_types"."pehkui:base".scale 32`

In

[2022-10-02 16:23] Nazerillo opened #327 "[Bug]: Fabric server not allowing op players"
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

Fabric Loader 0.14.9

### Fabric API version

Fabric API 0.62.0

### In what kind of world or server did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

I was configuring a fabric server and I was kicked after

[2022-10-06 22:30] #326 closed, assigned to Virtuoel

[2022-10-06 22:32] Virtuoel commented on #326
Once 3.5.0 gets approved, `/scale nbt get` will now support paths and scaling like `/data get`.

`/scale get` has also supported scoreboards and scaling for a few versions already, so an alternate approach to one of your code snippets could be something like `execute as @a store result score @s Scale unless entity @s[pehkui.scale=..1] run scale get pehkui:base @s 32`

[2022-10-11 08:14] OtakuDGamer commented on #194
Thanks for this. I'm not really skilled about this but it's interesting to
me. I'll take a look when I have some free time.
Good day/night :D

Virtuoel ***@***.***> escreveu no dia terça, 26/04/2022 à(s)
11:54:

[2022-10-14 07:29] DvnPMay opened #328 "[Suggestion]: Pixelmon Compatibility"
### What is your suggestion?

I thought it would be pretty funny to see and own giant pixelmon, and while you can increase the size of them by using model_width and model_height, as soon as the pixelmon in brought inside of your pokeball, its size is reset. I even tried to use the persist command, and unfortunately it does not work like it does for players. I have no idea if this would be even pos

[2022-10-18 00:10] Raddatoons opened #330 "[Bug]: Jump height not scaling linearly"
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

0.14.9

### Fabric API version

0.62.0

### In what kind of world or server did the problem occur?

A multiplayer server that I was connected to

### What went wrong? (Crash logs don't go here)

I'm tinkering with the `pehkui:jump_height` scale type, wanting to recreate a

[2022-10-19 01:16] danbikes opened #331 "[Bug]: Eye Height Doesn't Change with Base or Eye_Height Command (Forge)"
Minecraft Version: 1.18.2
Forge Version: 40.1.73
Pehkui Version: 3.5.0 Forge Beta
Modpack: [Play as a Dragon](https://www.curseforge.com/minecraft/modpacks/play-as-dragon)
Environment: Multiplayer

I know this is likely due to an incompatibility with another mod in my modpack (Play as a Dragon, uses a custom player model from the Dragon Survival mod), but I'm wondering if there's any way around it

[2022-10-23 20:14] Dragon-Seeker commented on #136
@Virtuoel Any update on better documentation at all?

[2022-10-25 04:27] ghost commented on #295
must be float inaccuracy in rendering. can confirm

[2022-10-26 13:18] fayer3 opened #332 "[Bug]: fishing line does not connect with scaled fishing hook"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

Fabric Loader 0.14.9

### Fabric API version

Fabric API 0.58.0

### In what kind of world or server did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

when a scaled player casts a fishing rod, the fishing hook gets scaled and

[2022-10-27 16:16] AlbiMousse opened #333 "[Suggestion]: Size abilities"
### What is your suggestion?

I don't know if has already been suggested or accepted, but here it goes.
Would it be possible for **larger player to be able to**:

- Crush smaller entities
- Pick up smaller entities
- have the possibility to ming multiple blocks depending on their size (linearly) like pehkui:mining_size

and for **smaller player** to :

- Get crushed by larger entities
- Ride large

[2022-10-28 20:29] danbikes commented on #331
Any response would be appreciated, even if you don't think it's worth chasing...

[2022-10-30 07:59] AmberIsFrozen commented on #312
Resolved by the mod developer

[2022-10-30 07:59] #312 closed, assigned to Virtuoel

[2022-10-30 16:56] Virtuoel commented on #113
Tested with latest Immersive Portals for 1.18.2 Forge and it appears to be working now.

[2022-10-30 17:00] Virtuoel commented on #333
Partial duplicate of #183. Out of scope for Pehkui itself, but would be interesting to see another mod as an addon to Pehkui that adds more scale types like this.

[2022-10-30 17:00] #333 closed, assigned to Virtuoel

[2022-10-30 17:23] Virtuoel commented on #331
Issue confirmed, thank you for reporting. Think I have an idea how to approach a fix, but that will likely come in some future bugfixing release after 3.6.0 is out later today/tomorrow.

[2022-10-30 17:26] Virtuoel commented on #328
If the scale is resetting when they come out of the ball, it sounds like Pixelmon resets an entity's NBT to some default values every time they come out or perhaps only keeps some of the NBT. Nothing I can really do on my end unfortunately.

[2022-10-30 17:26] #328 closed, assigned to Virtuoel

[2022-10-31 12:15] AlbiMousse opened #335 "[Suggestion]: Sync possibility"
### What is your suggestion?

Hello
Throughout the mod discovery, I had an idea to make a bit of realism. For example, when x8 enlarged, and killing a normal sized sheep, instead of making the meat it dropped be as big as you, would it be possible for mob drops to be scaled depending on your size? In the case of the sheep, the held_item property value would be 0.125, and if it was x2 bigger, it wo

[2022-11-02 00:29] danbikes commented on #331
Awesome, thanks for the reply!

[2022-11-02 11:09] Raikilar opened #336 "[Bug]: mod loading but commands not working in forge"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

Forge 40.1.84

### Fabric API version

_No response_

### In what kind of world or server did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

no matter what version if the mod i use, the commands don't work. I've changed forge an

[2022-11-05 23:18] idkimanerd opened #337 "[Suggestion]: Compatibility with proximity voice chat"
### What is your suggestion?

I know nothing about modding, but would it be possible to add scaling with [Simple Voice Chat](https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat)? I think it would be a cool feature to be able to hear bigger players from farther away and smaller player from closer.

[2022-11-06 06:19] Flauridias opened #338 "[Bug]: Scale reset"
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

42.1.1

### Fabric API version

_No response_

### In what kind of world or server did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

Hello,
Every time I disconnect and reconnect to the server, my scale is bac

[2022-11-07 10:39] DGKaru opened #339 "[Bug]: Ride position is not accurate in small scale when I ride vehicles added by mod."
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

43.1.33

### Fabric API version

_No response_

### In what kind of world or server did the problem occur?

My singleplayer world

### What went wrong? (Crash logs don't go here)

[Bug]: Ride position is not accurate in small scale when I ride vehicles added by mod. (like

[2022-11-07 23:40] J0OTT opened #340 "size reset"
my size of my character resets back to normal wen I die

[2022-11-07 23:53] Virtuoel commented on #340
That is normal behavior. There's the `keepAllScalesOnRespawn` option in the config if you want to disable that from happening at all.

[2022-11-07 23:53] #340 closed, assigned to nobody

[2022-11-08 14:50] Aspurgus opened #341 "[Bug]: keepAllScalesOnRespawn"
### Minecraft version(s)

1.18.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

40.1.80

### Fabric API version

_No response_

### In what kind of world or server did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

I set the common config option to keep all scales on respawn to true, and

[2022-11-08 21:32] J0OTT opened #342 "were is the config"
i cant seem to find the config spot to edited the rule of the mod

[2022-11-14 19:32] KeeveeKoomoo opened #343 "[Bug]: Unable to connect to server"
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Fabric

### Mod loader version

Fabric loader 0.14.9

### Fabric API version

Fabric 0.66.0

### In what kind of world or server did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

I ran my server, attempted to join, and then I got this erro

[2022-11-14 19:35] KeeveeKoomoo commented on #343
Just double checked to make sure the server and the client had EXACTLY the same files, by deleting the server mod list, and selecting all, and copying to the server. It still did not work.

[2022-11-16 17:38] learle868 commented on #327
I also have the same problem. Did you find a solution? I wanted to run Origins with some addon and I need Pehkui. I will try to install some older versions and see if it will work. If I find a solution I will write it here.
EDIT: I see that we both use velocity because you have the FabricProxy-Lite mod installed. I was running the modpack on Waterfall/Bungeecord and I could OP myself but as I swit

[2022-11-16 18:04] learle868 commented on #327
I made a workaround through just giving yourself * permissions in luckperms. Don't write it witch a . just add it without any other symbol.

[2022-11-24 16:57] kuba26038 opened #344 "[Bug]: server crash on entering a server"
### Minecraft version(s)

1.19.2

### Minecraft version details

_No response_

### Mod loader

Forge

### Mod loader version

1.19.2-43.1.57

### Fabric API version

_No response_

### In what kind of world or server did the problem occur?

My multiplayer server that I was running

### What went wrong? (Crash logs don't go here)

a player has done something in his base that causes a crash wheneve

[2022-11-26 17:31] raqbit commented on #16
Would it not be possible to only allow changing the model in multiple directions but not the bounding box?

[2022-11-28 14:36] MiniMinnoww opened #345 "[Suggestion]: Add API documentation."
### What is your suggestion?

Aside from how to install the API as a dependency, there is no information or documentation anywhere on how to use this. It makes developing with this API very confusing, as I have no clue where to start.

[2022-11-28 18:26] AuroraHydroid commented on #323
I've heard that https://www.curseforge.com/minecraft/mc-mods/vmh can help with this for now, but I second making it inherent to the mod.